@import url(//fonts.googleapis.com/css?family=Lato);


body {
	background: GhostWhite;
	background: linear-gradient(GhostWhite 0%, Azure 95%, #2F95CC 100%); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Lato', Helvetica, sans-serif;
}

