@import url(//fonts.googleapis.com/css?family=Lato);

html {
    height: 100%;
}

body {
	height: 100%;
	margin: 0;
	background: GhostWhite;
	background: linear-gradient(GhostWhite 0%, Azure 95%, #2F95CC 100%); 
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: 'Lato', Helvetica, sans-serif;
}


